*{
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    position: relative;
}
.box{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.box:nth-child(1){
    background-color: pink;
    top: 20px;
    left: 120px;
    z-index: -2;
}
.box:nth-child(2){
    background-color: rgb(0, 201, 0);
    top: 230px;
    left: 320px;
    z-index: -4;
}
.box:nth-child(3){
    background-color: rgb(0, 115, 255);
    top: 140px;
    left: 210px;
    z-index: 1;
}